p {
    border: 1px solid rgb(56, 52, 59);
    background-color: rgb(252, 4, 252);
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    font-size: 1.5em;
    font-style: italic
  }
  
  
  ul {
  
      background-image: url(https://www.earthandroid.com/wp-content/uploads/2016/07/Gaming.jpg);
  
  color: rgb(245, 236, 236);
  font-style: italic;
  font-size: 1em;
  
  
  }
          
          a {
              color: rgb(245, 8, 8);
  
               text-shadow: darkgrey;
          }
          
          nav{
              background-image: url(https://www.earthandroid.com/wp-content/uploads/2016/07/Gaming.jpg);
  
              color: rgb(245, 236, 236);
              text-align: center;
              font-style: italic;
              font-size: 1em;
              
          }
  
          body {
              background-image: url(https://retailworksinc.com/wp-content/uploads/2016/05/grayish-background.jpg);
  
          
          }
  
          h1 {
              color: rgb(243, 86, 13);
              text-align: center;
              background-color: #f0ffff;
  
          }
          
          ol {
  
            background-image: url(https://www.earthandroid.com/wp-content/uploads/2016/07/Gaming.jpg);
        
        color: rgb(245, 236, 236);
        font-style: italic;
        font-size: 1em;
          }
         